

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    margin: 20px;
}

.number {
    position: absolute;
    border-radius:10px;
    width:20%;
    left: 40%;
    top: 50%;
}

a.text {
    position: absolute;
    font-size: 20px;
    left: 60%;
    top: 60%;
    text-align: center;
}
  
















